<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<% @posts.each do |post| %>
    <%= render 'posts/post', post:post %>
<%end%>
<% @courses.each do |course| %>
    <%= render 'courses/course', course:course %>
<%end%>